* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: "Funnel Display", sans-serif;
    background-color: #fff;
    color: #505050;
    line-height: 1.6;
    padding: 2rem
}

a {
    text-decoration: none
}

h1,
h2,
h3 {
    margin-bottom: 1rem
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    color: #bfbfbf
}

header img {
    height: 40px
}

header nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
}

header nav a {
    color: #bfbfbf
}

header nav a:hover {
    text-decoration: underline
}

.hero-header {
    background-image: url(6d5525b14c2a794a3f76.jpg);
    background-size: cover;
    background-position: left;
    color: #bfbfbf;
    text-align: center
}

.hero-footer {
    background-image: url(11f5fe15fedc11471b72.jpg);
    background-size: cover;
    background-position: left;
    color: #bfbfbf;
    text-align: left
}

main {
    margin-top: 2rem
}

main p {
    max-width: 90ch;
    margin-bottom: 1.5rem
}

main img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
}

ul {
    padding-left: 1.5rem;
    max-width: 65ch;
    margin-bottom: 1.5rem
}

ul ul {
    padding-left: 2rem;
    list-style-type: circle;
    max-width: 65ch
}

ul li {
    margin-bottom: .5rem
}

form {
    display: flex;
    flex-direction: column;
    max-width: 65ch;
    gap: 1rem
}

form input,
form textarea,
form button {
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px
}

form button {
    background-color: gray;
    color: #fff;
    cursor: pointer
}

form button:hover {
    background-color: #a9a9a9
}

footer {
    margin-top: 3rem;
    gap: 2rem;
    padding: 1rem;
    background-color: #f5f5f5;
    text-align: left;
    font-size: .9rem
}

footer button {
    margin-top: 1rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #444;
    color: #fff
}

footer button:hover {
    background-color: #222
}

body.dark {
    background-color: #121212;
    color: #bfbfbf
}

body.dark footer {
    background-color: #1e1e1e
}

body.dark footer button {
    background-color: #ccc;
    color: #000
}

body.dark footer button:hover {
    background-color: #eee
}

@media(max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start
    }

    nav {
        flex-direction: column
    }
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    transition: transform .2s
}

#theme-toggle svg {
    display: inline-block;
    vertical-align: middle
}

#theme-toggle:hover {
    transform: scale(1.2)
}